@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Chakra Petch', sans-serif; */
  font-family: 'Orbitron', sans-serif;

}
body{
  background-image: url("../assets/images/dark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header{
  height:10vh;
  border-radius: 0 0 1rem 1rem;
  background-color:rgba(255,255,255,0.4);
  box-shadow: 0 0 5rem 0 #000 ;
  top: 0;
  position: sticky;
}
.logo{
  height: 100%;
  width: auto;
}
button{
  background-color: rgba(0,0,0,0);
  border-style: none;
  padding: 0;
}
.header-icon{
  height: 3rem;
}
.header-icon:last-child{
  margin-right: 1.5rem;
}
#counter{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 0.9rem;
  display: inline;
  padding: 0 0.3rem;
  border-radius: 2rem;
  margin-right: -2.3rem;
  margin-top: -0.3rem;
  background-color: rgba(119, 109, 255, 0.719);

}
#dark-icon{
  display: none;
}
#light-icon{
  display: block;
}
#menu-btn,#close-btn{
  z-index: 2;
}
#menu-icon{
  display: block;
}
#close-icon{
  display: none;
}
.navbar{
  padding: 1rem;
}
.nav-item{
  width: 15%;
  margin: auto;
  padding: 0.3rem;
  border-radius: 3rem;
  text-align: center;
  list-style: none;
}
.nav-item a {
  font-size: 1.2rem;
  color: rgb(255,255,255);
  text-decoration: none;
  text-shadow: 2px 2px 8px rgb(255, 255, 255);
}
.nav-item:hover{
  background-color: rgba(199, 0, 210, 0.4);
  box-shadow: inset 0 0 2rem 0 rgb(145, 171, 255) ;
}

#mobile-nav{
  background-image : url("../assets/images/dark.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: 0 0 1rem 0 #000 ;
  height:fit-content;
  width: 100%;
  padding: 1rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  border-radius: 0 0 1rem 1rem;
  display: none;
}
#mobile-nav a{
  text-decoration: none;
}
.mobile-nav-item{
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 2rem;
  padding: 1.5rem;
  margin: 1rem;
  background-color:rgba(255, 255, 255, 0.6) ;
  box-shadow: 0 0 1rem 0 #000 ;
  border-radius: 1rem;
}
.landing-section{
  margin-bottom: 3rem;
}
.landing-section div{
  height: 95vh;
}
.landing-img{
  width: 75%;
  height: auto;
  margin: auto;
}
.landing-txt{
  padding: 5% 0 0 15%;
}
.landing-txt h1{
  font-size: 5rem;
  color: rgb(255,255,255);
}
.landing-txt p{
  color: rgb(255,255,255);
}
.cart-section{
  padding: 2rem;
}
.cart-section h2{
  text-align: center;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
}
.more-button{ 
  width: 30%;
  align-self: center;
  background-color: rgba(255,255,255,0.3);
  border-radius: 3rem;
  border-style: none;
  box-shadow: inset 0 0 1rem 0 rgba(255,255,255,0.5) ;
  margin-bottom: 2rem;
}
.cart{
  height: 15rem;
  width: 13.5rem;
  padding: 1rem;
  margin: 5rem;
  border-radius: 1rem;
  background-color:rgba(255,255,255,0.1);
  box-shadow: 0 0 1rem 0 #000 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-out;
}

.cart-image{
  height: 60%;
  width:140%;
  background-color: rgba(0,0,0,0);
}
.cart-img{
  height: 70%;
}
.cart-text{
  color: rgba(255, 255, 255, 1);
  margin: 0.5rem 0;
  text-align: center;
}
.cart-button{
  font-family: 'Chakra Petch', sans-serif;
  width: 60%;
  align-self: center;
  background-color: rgba(255,255,255,0.3);
  border-radius: 3rem;
  border-style: none;
  box-shadow: inset 0 0 1rem 0 rgba(255,255,255,0.5) ;
}
.add-button img{
  height: 3rem;
  padding: 0.2rem;
  border-radius: 5rem;
  box-shadow: inset 0 0 1rem 0 rgba(255,255,255,0.5) ;
}
.price{
  text-align: center;
  margin: auto;
  font-family: 'Chakra Petch', sans-serif;
  font-size: large;
  color: rgba(255, 255, 255, 0.7) ;
  text-decoration: line-through;
}
.cart:hover{
  transform: scale(1.1);
}
.information-text{
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem ;
  background-color:rgba(255,255,255,0.4);
  box-shadow: 0 0 1rem 0 #000 ;
  font-size: small;
}
footer{
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color:rgba(255,255,255,0.4);
  box-shadow: 0 0 1rem 0 #000 ;
  margin-top: 5rem;
}
.footer-logo{
  width: 50%;
  height: auto;
}
.footer-item{
  list-style: none;
  margin: 0.5rem;
}
.footer-item a {
  color: rgb(62, 91, 255);
  text-decoration: none;

}

@media screen and (max-width: 380px) {
  * {
    font-size: xx-small;
  }
  .landing-section div{
    height: 45vh;
  }
}